@import "tailwindcss";

@theme {
    --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-blue: #2C46B1;
    --color-blue-dark: #2C4091;
    --color-white: #FFFFFF;
    --color-gray-100: #F9F9FB;
    --color-gray-200: #E4E6EC;
    --color-gray-300: #CDCFD5;
    --color-gray-400: #74798B;
    --color-gray-500: #4D505C;
    --color-gray-600: #1F2025;
    --color-danger: #B12C4D;
}

/* Typography System */
.typography-xl {
    font-family: var(--font-sans);
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-transform: none;
}

.typography-lg {
    font-family: var(--font-sans);
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: none;
}

.typography-md {
    font-family: var(--font-sans);
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-transform: none;
}

.typography-sm {
    font-family: var(--font-sans);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-transform: none;
}

.typography-sm-semibold {
    font-family: var(--font-sans);
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-transform: none;
}

.typography-xs {
    font-family: var(--font-sans);
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

body {
    background-color: var(--color-gray-200);
}